
# Default sdkconfig parameters to use the OTA
# Default sdkconfig parameters to use the OTA
# partition table layout, with a 4MB flash size
# partition table layout, with a 4MB flash size
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_TWO_OTA=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"

CONFIG_PROV_TRANSPORT_SOFTAP=y
CONFIG_PROV_SECURITY_VERSION_2=y
CONFIG_PROV_SEC2_DEV_MODE=y
# CONFIG_PROV_SEC2_PROD_MODE is not set
CONFIG_PROV_TRANSPORT=2
CONFIG_RESET_PROV_MGR_ON_FAILURE=y
CONFIG_PROV_MGR_MAX_RETRY_CNT=5
CONFIG_REPROVISIONING=y
CONFIG_PROV_SHOW_QR=n
